*{
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
}
body{
    margin: 125px;
}
body > footer, main {
    padding: 60px;
}
h1 {
    font-size: 45px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 25px;
}
p {
    font-size: 16px;
}
/*footer*/
footer {
    background-color: #602929;
    color: #f5f5f5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer p {
    margin: 3px;
}
.foot_heading {
    font-weight: bold;
    margin-top: 20px;
}
.foot_right {
    display: flex;
    flex-direction: column;
    text-align: right;
}
.foot_logo {
    font-weight: bold;
    font-size: 20px;
}
.foot_left p:hover  {
    text-decoration: underline;
    cursor: pointer;
}
/*Knapper*/
button {
    border: none;
    border-radius: 50px;
    background-color: #9a0000;
    color: #f5f5f5;
    padding: 15px 30px;
    font-size: 16px;
}
button:hover {
    background-color: #b76060;
}
button:active {
    background-color: #602929;
}
button:hover, button:active{
    cursor: pointer;
}
/* Nav */
header{
    padding: 30px 60px;
    background-color: #98a283;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    font-weight: bold;
}
ul {
    list-style-type: none;
    overflow: hidden;
  }
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: #121212;
    text-align: center;
    padding-left: 35px;
    text-decoration: none;
  }

  li a:hover {
    text-decoration: underline;
  }

  .active {
    font-weight: bold;

  }
/* Frederikke start*/
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero h1, h2, p{
    margin-bottom: 10px;
}
.hero button {
    margin-top: 10px;
}
.hero_div{
    background-color: #602929;
    width: 400px;
    height: 400px;
}
.hero_p{
    max-width: 450px;
}
/* Frederikke slut*/


/* Signe start*/
/* Signe slut*/

/* Isabella start*/
#contactImgContainer {
    display: grid;
    grid-template-columns: auto auto;
}
.imgContainerItems {
    display: flex;
}
.imgContainerItems img {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 100%;
}
.imgContainerItems p{
    font-size: 30px;
}
#contactImgContainer .imgContainerItems:nth-child(even) {
    flex-direction: row-reverse;
    text-align: right;
}
/* Isabella slut*/