* {
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
}

body>footer,
section {
    padding: 60px;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

p {
    font-size: 16px;
}

/*footer*/
footer {
    background-color: #602929;
    color: #f5f5f5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer p {
    margin: 3px;
}

.foot_heading {
    font-weight: bold;
    margin-top: 20px;
}

.foot_right {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.foot_logo {
    font-weight: bold;
    font-size: 20px;
}

.foot_left p:hover {
    text-decoration: underline;
    cursor: pointer;
}

/*Knapper*/
button {
    border: none;
    border-radius: 50px;
    background-color: #9a0000;
    color: #f5f5f5;
    padding: 15px 30px;
    font-size: 16px;
}

button:hover {
    background-color: #b76060;
}

button:active {
    background-color: #602929;
}

button:hover,
button:active {
    cursor: pointer;
}

/* Nav */
header {
    padding: 30px 60px;
    background-color: #98a283;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    font-weight: bold;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    color: #121212;
    text-align: center;
    padding-left: 35px;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}

.active {
    font-weight: bold;

}

/* Frederikke start*/
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 60px;
    background-color: #f5f5f5;
}

.hero h1,
h2,
p {
    margin-bottom: 10px;
}

.hero button {
    margin-top: 10px;
}

.hero_right img {
    width: 600px;
    height: 400px;
    object-fit: none;
}

.hero_p {
    max-width: 450px;
}

.mid_sec {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #dcdcdc;
}

.mid_sec>div {
    padding-top: 40px;
    width: 50%;
}

.mid_div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mid_left {
    padding-right: 20px;
}

.mid_right {
    padding-left: 20px;
}

.mid_div button {
    margin-top: 20px;
}

.mid_div>div>* {
    padding-bottom: 10px;
}

.citat {
    background-color: #f5f5f5;
}

.citat p {
    text-align: center;
    font-size: 25px;
    font-style: italic;
}

/* Frederikke slut*/


/* Signe start*/

.populaerkoncert {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.populaerkoncert-tekst {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.om-kunstnerne {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.om-kunstnerne-tekst {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.populaerkoncert {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    margin-bottom: 10%;

}

.absolute-abba {
    width: 30%;
}

.paa-slaget-12 {
    width: 30%;
}

.arrangementer-accordian,
.tidligere-arrangement-accordian {
    margin-left: 60px;
    margin-bottom: 20px;
}


/*accordian*/
.arrangementer-indhold {
    display: none;
    overflow: hidden;
}


/* Signe slut*/

/* Isabella start*/
.contactDivs {
    padding: 125px;
}
#topDiv{
    background-color: #F5F5F5;
    height: calc(100vh - 250px);
    padding: 125px;
}

#topDiv p {
    max-width: 400px;
}
#bottomDiv{
    padding: 0 125px 20px 125px;
}

#contactImgContainer {
    display: grid;
    grid-template-columns: auto auto;
}

.imgContainerItems {
    display: flex;
    margin-top: 100px;
}

.imgContainerItems img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 100%;
}

#contactImgContainer .imgContainerItems:nth-child(even) {
    flex-direction: row-reverse;
    text-align: right;
}
.imgContainerText{
    display: flex;
    flex-direction: column; /* To avoid display flex putting the text besides eachother */
    justify-content: center;
    padding: 0 20px 0 20px;
}
.woman{
    color: deeppink;
}
.man{
    color: blue;
}
/* Isabella slut*/